**.swp
__pycache__
**.
**.tmp
**.log
**.swo
**.pdf
.DS_Store
warc_temp.warc.gz
2024_01_22_phd_track.md
tmp_token
*nohup*
planning_logs
**.swp
graphs/dat/*
graphs/images/*
logs/*
*nohup*
reports/
test*
*note*
old_logs/
**.bak
**profiling
old_grphs/
