**.swp
__pycache__
lib
**.
**.tmp
**.log
**.swo
victoria/*
web2text/*
libs
.DS_Store
warc_temp.warc.gz
data/cc/out/
graphs/dat/*
graphs/images/*
logs/
2024_01_22_phd_track.md
link_doc
report_for_micheal.md
