data=%prefix%/data
demodata=
#demodata=%prefix%/demo-data
users=%prefix%/users
groups=%prefix%/groups
buttons=Header,Text
bgcolors='#FFFFFF','#FFAAAA','#FFE680','#FFFF80','#99FF80'
fgcolors='#000000','#000000','#555555','#555555','#555555'
overlap=1
help=%help%
